/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
    resize: vertical;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fafafa;
}

/* color */
:root {
    --bg-primary: #ee0979;
    --bg-primary-hover: #ee0979;
    --bg-black: #27272A;
    --bg-white: #ffffff;
    --bg-green: #00B67A;
    --bg-orange: #ebbd31;
    --bg-pink: #d946ef;
    --bg-button: linear-gradient(to right, #ee0979, #ff6a00);
    --bg-button-hover: linear-gradient(to left, #ee0979, #ff6a00);
    --bg-text: linear-gradient(to left, #ee368f, #f88c3e);

    /* social color */
    --bg-facebook: #166FE5;
    --bg-twitter: #166FE5;
}

/* =============================  Header  ================================= */
.header_section {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header_section:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 76%);
}

.header_menu {
    padding: 12px 0px;

}

.header_menu.fixed-top {
    background: #fff !important;
    border-bottom: 1px solid #e2e2e2;
}

.header_menu.fixed-top .nav-link {
    color: #000 !important;
}

.header_menu.fixed-top .loginBtn {
    background: var(--bg-black);
    color: #ffffff !important;
}


.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 0.5s ease-out;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}




/* menu */

.header_menu .nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik';
    padding: 0px 18px !important;
}

/* banner content */

.banner_content {
    padding: 80px 0px;
    position: relative;
    overflow: hidden;
}

.banner_content h1 {
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 73px;
    color: #fff;
    transform: translateZ(20px);
    transform-style: preserve-3d;
}

.banner_content h1 span {
    background: var(--bg-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_content h1 strong {
    -webkit-text-fill-color: var(--bg-white);
}

.banner_content .btn-primary {
    border-radius: 50px;
    padding: 14px 42px;
    font-size: 18px;
}

.btn-primary {
    color: var(--bg-white);
    background: var(--bg-button);
    padding: 8px 36px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 17px;
    border: none !important;
    outline: none !important;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.btn-primary:hover {
    background: var(--bg-button-hover);
}

.banner_content p strong {
    color: var(--bg-white);
    ;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin-right: 10px;
}

.banner_content p span {
    font-family: 'Roboto Condensed';
    font-weight: 500;
    color: #ebbd31;
    margin-left: 10px;
}

.banner_content p img {
    width: 20px;
    background: var(--bg-green);
    display: inline-block;
    border-radius: 1px;
    margin: 0px 0px;
    padding: 2px;
}


.header_right_btn .btn {
    background: var(--bg-white);
    padding: 8px 24px !important;
    display: inline-block;
    color: #212121 !important;
    font-weight: 800 !important;
    font-family: 'Roboto Condensed' !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none !important;
    border: none !important;
}

.header_right_btn .btn:hover {
    background: var(--bg-button-hover);
    color: var(--bg-white) !important;
}

.header_right_btn .singupBtn {
    background: var(--bg-button);
    color: var(--bg-white) !important;
}

.header_right_btn .singupBtn:hover {
    background: var(--bg-button-hover);
}

.header_menu .navbar-toggler {
    background: #fff;
    border-radius: 2px;
    font-size: 18px;
    outline: none !important;
    box-shadow: none !important;
}

.header_menu .offcanvas {
    width: 300px !important;
    border: none !important;
}

.header_menu .btn-close {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #e6e6e6;
    color: #212121;
    opacity: 1;
    font-size: 11px;
}

.loggedin_user .dropdown-toggle {
    border: none !important;
    background: #212121;
    border-radius: 50px;
    padding: 0px 12px 0px 0px;
}


.dropdown-toggle::after {
    display: none;
}

.loggedin_user.dropdown:hover .dropdown-menu {
    display: block;
}

.loggedin_user {
    position: absolute;
    top: -3px;
    right: 0;
}

.loggedin_user .dropdown-menu {
    border-radius: 1px;
    border: none !important;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    padding: 0;
}

.loggedin_user .dropdown-item {
    padding: 10px 17px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--bg-black);
}

.loggedin_user .dropdown-item:hover {
    background: var(--bg-button);
    color: var(--bg-white);
}

.loggedin_user .dropdown-item img {
    width: 25px;
    margin-right: 3px;
    border: 1px solid #f5efef;
    border-radius: 50px;
    padding: 3px;
}

.loggedin_user .dropdown-item:hover img {
    background: var(--bg-white);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand img {
    width: 150px;
}


/* =============================  Category  ================================= */
.category_section,
.game_info_section {
    background: var(--bg-button);
}


.category_item {
    padding: 10px 10px;
    border-radius: 10px;
    background: #ebedf45c;
}


.category_section .form-check {
    padding: 0;
}

.category_img img {
    border-radius: 4px;
}

.category_content h3 {
    font-size: 18px;
    color: var(--black);
    font-family: 'Roboto Condensed';
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.disabled_item label:before {
    cursor: no-drop !important;
}

.category_content ul li {
    padding: 1px 0px;
    font-size: 15px;
    color: var(--bs-black);
    vertical-align: middle;
    align-items: center;
    display: block;
}

.category_content ul li span {
    width: 6px;
    height: 6px;
    background: red;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    border-radius: 50px;
    margin-top: -2px;
}

.category_section .form-check-input[type=radio] {
    display: none;
}

.category_section .form-check-label {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    height: 100% !important;
}

.category_section label:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;
}

.category_section .form-check-input:checked~label:before {
    border-color: var(--bg-black) !important;
}

.category_content .bg_primary {
    background-color: #00B67A;
}

.category_content .bg_warning {
    background-color: #ebbd31;
}

.category_section .owl-nav {
    position: absolute;
    top: -35px;
    right: 13px;
}

.category_section .owl-carousel .owl-nav button.owl-next,
.category_section .owl-carousel .owl-nav button.owl-prev {
    margin: 0px 0px 0px 15px;
    background: var(--bg-button);
    color: var(--bg-white);
    width: 29px;
    height: 26px;
    display: inline-block;
    border-radius: 2px;
}

.category_section .owl-next.disabled,
.category_section .owl-prev.disabled {
    background: #ddd !important;
}


/* ============================= game info  ================================= */

.game_info_wrap {
    background: #3b3b52;
    padding: 17px 18px;
    border-radius: 6px;
}

.game_info_wrap .heading h5 {
    color: var(--bg-white);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 10px;
}

.game_info_wrap .heading h5 span {
    text-transform: capitalize;
    float: right;
    color: #BBB;
    cursor: pointer;
}

.game_info_wrap .add_account a {
    color: var(--bg-white);
    font-family: 'Rubik';
    font-size: 15px;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.game_info_wrap .add_account a:hover {
    color: var(--bg-primary-hover);
}

.game_info_wrap .add_account a svg {
    margin-right: 5px;
    vertical-align: middle;
    color: var(--bg-primary);
}

.game_info_wrap .promo_code_ad a {
    color: var(--bg-white);
    font-family: 'Rubik';
    font-size: 15px;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.game_info_wrap .promo_code_ad a:hover {
    color: var(--bg-primary-hover);
}

.game_info_wrap .promo_code_ad a svg {
    margin-right: 5px;
    vertical-align: middle;
    color: var(--bg-primary);
}

.game_info_wrap .promo_code_ad a span {
    float: right;
    color: var(--bg-white);
}


.game_info_wrap .find_btn .btn-primary {
    font-size: 17px;
    padding: 15px 10px;
}

.game_info_wrap .nav-pills .nav-link {
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border: 1px solid #232323;
    border-radius: 4px;
    color: var(--bg-white);
    outline: none !important;
    box-shadow: none !important;
}

.game_info_wrap .nav-pills .nav-link.active,
.game_info_wrap .nav-pills .show>.nav-link {
    background: var(--bg-button);
    color: var(--bg-white);
}

.game_info_wrap .form-check {
    padding: 0;
}

.game_info_wrap .form-check-input[type=radio] {
    display: none;
}

.game_info_wrap label {
    border: 1px solid #333345;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 13px 11px;
    cursor: pointer;
}

.game_info_wrap .form-check-input:checked~label {
    border-color: var(--bg-primary);
}

.game_info_wrap .game_list .content h4 {
    font-family: 'Rubik', sans-serif;
    color: var(--bg-white);
    font-size: 14px;
    margin: 0;
    display: block;
    overflow: hidden;
}

.game_info_wrap .content p {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #b8b8b8;
    margin-top: 2px;
}

.game_info_wrap .quantity h3 {
    color: #fff;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}

.game_info_wrap .input-group-text {
    border-radius: 50px !important;
    background: var(--bg-white) !important;
    border: none !important;
    margin: 0px 5px;
    width: 36px;
    height: 36px;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 37px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 5px;
}

.game_info_wrap .quantity .form-control {
    background: transparent !important;
    height: 44px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    color: #fff;
    border-radius: 50px !important;
    border: 1px solid #333;
    margin: 0px 8px;
}

.modal {
    backdrop-filter: blur(10px);
    background: linear-gradient(315deg, rgb(63 81 181 / 20%) 0%, rgb(63 81 181 / 11%) 100%);
    backdrop-filter: blur(10px);
}

.modal-content {
    border: none;
    border-radius: 0px;
}

.modal-header {
    border: none;
    padding: 0;
}

.modal-header .btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 1;
    font-size: 12px;
    outline: none !important;
    box-shadow: none !important;
    z-index: 5;
}

.modal_body {
    padding: 34px 30px;
    background: #ebedf4;
    border-radius: 10px;
}

.modal_heading h1 {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    margin-bottom: 6px;
}

.modal_heading p {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #5c5c5c;
    font-weight: 200;
}

.modal .form-label {
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.modal .form-control {
    background: #fff !important;
    border: none !important;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}

.modal .form-control::placeholder {
    color: #BDBDBD;
}

/* .modal .form-control,
select {
    color: var(--bg-black);
} */

.modal .btn-primary {
    padding: 11px 12px;
    font-size: 17px;
}

.modal .divider span {
    font-size: 20px;
    color: #706a6a;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    background: #ebedf4;
    display: inline-block;
    z-index: 1;
    padding: 5px 19px;
    position: relative;
}

.modal .divider {
    position: relative;
}

.modal .divider:before {
    position: absolute;
    content: "";
    bottom: 23px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e3e5ef;
    z-index: 0;
}

.signup_form .bottom p {
    margin: 0;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #777;
}

.social_login a {
    width: 45px;
    background: var(--bg-black);
    height: 45px;
    display: inline-block;
    font-size: 19px;
    color: #ffffff;
    line-height: 45px !important;
    border: 1px solid #EEE;
    border-radius: 7px;
    margin: 0px 8px;
}

.facebook-tooltip {
    --bs-tooltip-bg: var(--bg-facebook);
}

.twitter-tooltip {
    --bs-tooltip-bg: var(--bg-twitter);
}

.user_profile {
    cursor: pointer;
}

.account_info p {
    margin: 0;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #777;
}



.game_info_wrap .user_profile .info h3 {
    color: var(--bg-white);
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin: 0;
}

.game_info_wrap .user_profile .info span {
    color: #BBB;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.account_modal .accounot_info {
    border-bottom: 1px solid #e0e4ff;
    padding-bottom: 11px;
}

.account_modal .accounot_info .info h3 {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: 500;
}

.account_modal .accounot_info .info p {
    margin: 0;
    font-size: 13px;
    color: #555;
    font-weight: 400;
}

.account_modal .accounot_info img {
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.account_modal .account_list .form-check {
    position: relative;
}

.account_modal .account_list label {
    background: var(--bg-black);
    padding: 10px 10px 10px 32px;
    border-radius: 10px;
    position: relative;
}

.account_modal .account_list label:before {
    position: absolute;
    content: "";
    top: 18px;
    left: 6px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.account_modal .form-check-input:checked~label:before {
    background: var(--bg-white);
    border-color: var(--bg-primary);
    border-width: 6px;
}

/* .account_modal .form-check-input:checked {
    display: none !important;
} */

.account_modal .form-check-input[type=radio] {
    display: none;

}

.account_modal .account_list h3 {
    margin: 0;
    color: var(--bg-white);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.account_modal .account_list span {
    color: #999;
    text-transform: uppercase;
    font-size: 13px;
}

.account_modal .account_list .account_edit {
    color: #2196f3;
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 16px;
}

.account_modal .account_list .delete_card {
    color: #2196f3;
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 16px;
}

.role_checkbox .form-check {
    padding: 0;
    display: inline-block;
}

.role_checkbox .form-check-input[type=checkbox] {
    display: none;
}

.role_checkbox .form-check label {
    border: 1px solid #c0c6e8;
    padding: 7px 10px;
    width: 107px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
}

.role_checkbox .form-check label:before {
    position: absolute;
    content: "";
    top: 8px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #b7b8c0;
}

.role_checkbox .form-check-input:checked~label:before {
    position: absolute;
    content: "\f00c";
    font-family: 'FontAwesome';
    text-align: center;
    color: var(--bg-white);
    background: var(--bg-primary);
}

.back_account {
    position: absolute;
    top: 8px;
    left: 11px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    z-index: 5;
    line-height: 28px;
}

.section_heading h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 8px;
    color: var(--bg-black);
    font-family: 'Rubik', s;
}

.section_heading p {
    color: var(--bg-black);
    margin: 0;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    vertical-align: middle;
}

.section_heading p img {
    display: inline;
    align-items: center;
    margin-top: -3px;
    width: 53px;
}

.modal_wrap h3 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0;
    padding-bottom: 11px;
    color: var(--bg-black);
}

.modal_wrap a {
    color: var(--bg-black);
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 13px;
}

.modal_wrap a i {
    width: 28px;
    height: 28px;
    background: var(--bg-white);
    text-align: center;
    border-radius: 50px;
    line-height: 29px;
    margin-right: 4px;
    color: var(--bg-primary);
}

.bonus_list {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 10px;
}

.bonus_list h4 {
    color: var(--bg-black);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0;
}

.bonus_list .btn-primary {
    position: absolute;
    top: -9px;
    right: 0;
    padding: 7px 27px;
}

.bonus_list .content span {
    color: var(--bg-primary);
}

/* ============================= How it work  ================================= */

.section {
    padding: 70px 0px;
}

.how_to_work_sec .timeline {
    width: 100%;
}

.how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1) {
    margin-left: 0;
    padding-right: 1.5rem;
    padding-left: 0;
    text-align: right;
}

.how_to_work_sec .timeline.timeline-one .timeline-item {
    position: relative;
    width: 50%;
    margin-left: 50%;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: left;
}

.how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1):before {
    margin-right: -0.5rem;
}

.how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1):after,
.how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1):before {
    right: 0;
    left: auto;
}

.how_to_work_sec .timeline.timeline-one .timeline-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 0.425rem;
    margin-left: -0.5rem;
    border: 0.0625rem solid #ddd;
    background: #ddd;
    border-radius: 50%;
}

.how_to_work_sec .timeline.timeline-one .timeline-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -0.1875rem;
    width: 0.0625rem;
    margin-top: 1.875rem;
    margin-left: -0.0625rem;
    background-color: #e5e5e5;
}

.step_tebs_wrap .timeline-item h5 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: var(--bg-primary);
    margin-bottom: 20px;
}

.step_tebs_wrap .timeline-item h3 {
    color: var(--bg-black);
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 27px;
}

.step_tebs_wrap .timeline-item p {
    font-size: 14px;
    color: #555;
    line-height: 24px;
}

.step_tebs_wrap .btn-primary {
    padding: 8px 23px;
    border-radius: 5px;
    font-size: 16px;
}

/* ============================= Faq  ================================= */
.faq_section {
    background: #673ab70d;
}

.accordion-item {
    border: none !important;
    margin-bottom: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 6px !important;
    outline: none !important;
}

.accordion-button {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 6px !important;
    font-size: 15px;
    color: var(--bg-black) !important;
    font-family: 'Rubik', sans-serif;
}

.accordion-body {
    padding: 30px 20px;
}

.accordion-body p {
    font-size: 15px;
    line-height: 27px;
    color: #555;
}

.accordion-button:not(.collapsed) {
    background: var(--bg-button);
    color: #fff !important;
}

.accordion-button::after {
    content: "\f107";
    background-image: none !important;
    font-family: 'FontAwesome';
}

.accordion-button:not(.collapsed)::after {
    content: "\f106";
    transform: none !important;
}


/* ============================= Testimonial  ================================= */

.client_review_wrap .review_item {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 26px 20px;
    border-radius: 10px;
    background: #fff;
}


.client_review_wrap .item {
    padding: 16px 5px;
}

.client_review_wrap .client_profile img {
    width: 90px !important;
    height: 90px !important;
    border-radius: 100px !important;
    margin: 0 auto;
    border: 5px solid #fff;
}

.client_info {
    border-bottom: 1px solid #EEE;
    padding-bottom: 27px;
}

.client_review_wrap .client_info h3 {
    margin: 0;
    font-size: 21px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--bg-black);
}

.client_review_wrap .client_info span {
    font-size: 14px;
    color: #666;
}

.client_review_wrap .start img {
    width: 20px !important;
    display: inline-block !important;
}

.client_review_wrap .client_review p {
    font-size: 14px;
    color: #666;
    line-height: 23px;
    margin-bottom: 21px;
}

.client_review_wrap .owl-nav {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100%;
    opacity: 0;
}

.review_carousel:hover .owl-nav {
    opacity: 1;

}

.client_review_wrap .owl-nav button {
    width: 40px;
    height: 40px;
    background: #fafafa !important;
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
}

.client_review_wrap .owl-carousel .owl-nav button.owl-next {
    right: 0;
    float: right;
}

/* ============================= Footer  ================================= */

.footer_section {
    background: #fff;
    padding: 40px 0px 6px 0px;
}

.modal_body .back_btn i {
    position: absolute;
    top: 8px;
    left: 11px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    line-height: 28px;
    z-index: 5;
    text-align: center;
}

.foter_menu ul li {
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #BBB;
}

.foter_menu ul li a {
    color: var(--bg-black);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li:last-child {
    border: none;
}

.foter_menu ul li a:hover {
    color: var(--bg-primary);
}

.footer_social_icon ul li {
    display: inline-block;
}

.footer_social_icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #EFF2FC;
    text-align: center;
    line-height: 50px;
    color: var(--bg-black);
    font-size: 19px;
    border-radius: 2px;
    margin: 8px 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer_social_icon ul li a:hover {
    background: var(--bg-primary);
    color: var(--bg-white);
}

.footer_social_icon ul li a i {
    line-height: 50px !important;
}

.copyright p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li {
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #BBB;
}

.foter_menu ul li a {
    color: var(--bg-black);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li:last-child {
    border: none;
}

.foter_menu ul li a:hover {
    color: var(--bg-primary);
}

.page_content p {
    font-size: 16px;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

.footer_logo img {
    width: 150px;
}

/* ============================= User dashboard  ================================= */

.user_profile_menu {
    border: 1px solid #f0f0f0 !important;
    padding: 20px 0px 0px 0px;
}

.profile_wrap img {
    border: 5px solid #ffffff;
    box-shadow: rgb(99 99 99 / 10%) 0px 2px 8px 0px;
    margin-bottom: 11px;
}

.profile_wrap h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-black);
}

.user_profile_menu ul li a {
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--bg-black);
    display: block;
    border-bottom: 1px solid #f8f8f8;
}

.user_profile_menu ul li::last-child a {
    border: none;
}

.user_profile_menu ul li a:hover,
.user_profile_menu a.active {
    background: var(--bg-button);
    color: var(--bg-white);
}

.user_profile_menu ul li a.active img {
    background: var(--bg-white);
}

.user_profile_menu ul li img {
    width: 25px;
    margin-right: 3px;
    border: 1px solid #f5efef;
    border-radius: 50px;
    padding: 3px;
}

.user_profile_menu ul li a:hover img {
    background: var(--bg-white);
}

.dashboard_wrapper {
    border: 1px solid #f0f0f0;
    background-color: var(--bg-white);
    padding: 20px;
    border-radius: 6px;
}

.dashboard_wrapper .table {
    width: 800px !important;
}

.form-control {
    background: #ebedf4 !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 13px 10px;
    color: #555;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.form-label {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/* .form-control::placeholder {
    color: #BBB;
} */

.refer_friend {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    padding: 20px 30px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.refer_friend .btn-primary {
    font-size: 14px;
}

.refer_friend .form-control {
    background: linear-gradient(to right, #ee097982, #ff6a0014) !important;
    border: none !important;
    color: #fff;
}

.refer_friend p {
    font-size: 16px;
    color: var(--bg-white);
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.refer_copy_img img {
    width: 220px;
}

.refer_copy_img {
    position: absolute;
    top: -20px;
    right: -50px;
    z-index: -1;
    opacity: .7;
}

.credit_item {
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(300px);
    transform: perspective(300px);
    overflow: hidden;
}

.credit_tag {
    padding: 13px 5px;
    background: #f5f5f5;
    border-radius: 6px 6px 0px 0px;
}

.credit_tag span {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--bg-black);
}

.credit_body {
    padding: 50px 0px;
}

.credit_body h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--bg-black);
}

.credit_body span {
    font-size: 15px;
    color: #777;
}

.buy_credit .btn-primary {
    padding: 33px 10px 14px 10px;
    border-radius: 0px 0px 6px 6px;
    position: relative;
}

.buy_credit .btn-primary:hover {
    color: var(--bg-white);
}

.custom-shape-divider-top-1675056967 {
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1675056967 svg {
    position: relative;
    display: block;
    width: calc(122% + -22.7px);
    height: 37px;
}

.custom-shape-divider-top-1675056967 .shape-fill {
    fill: #FFFFFF;
}


.order_list p,
.favorite_list p {
    font-size: 15px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--bg-black);
    margin-bottom: 13px;
}



#accountLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;

}

a {
    color: black;
    text-decoration: none;
}


/* player search modal */

.league_wrap {
    border: 1px solid #ddd;
    background: #212121;
    padding: 4px 14px;
    border-radius: 10px;
}

.league_name h5 {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}


.search_player_wrap .game_item {
    border: 1px solid #CCC;
    padding: 6px 14px;
    border-radius: 10px;
}

.search_player_wrap .name {
    text-align: left;
}

.search_player_wrap .name h4 {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: var(--bg-black);
    margin-bottom: 4px;
}

.search_player_wrap .name p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.search_player_wrap .game_count {
    position: absolute;
    top: 13px;
    right: 0;
}

.search_player_wrap .game_count span {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.search_player_wrap .timer_count h5 {
    font-size: 38px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: var(--bg-primary);
}

.search_player_wrap .timer_count span {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #666;
    letter-spacing: 1px;
}

#chat_body {
    height: 520px;
    background-color: white;
    overflow: auto;
    padding: 10px 14px !important;
    display: flex;
    flex-direction: column-reverse;
}

.chat_user_box .card-title strong {
    background: var(--bg-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* width */
.chat_user_box .card-body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.chat_user_box .card-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px ddd;
    border-radius: 10px;
}

/* Handle */
.chat_user_box .card-body::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

/* Handle on hover */
.chat_user_box .card-body::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

.chat_user_box .direct-chat-infos {
    display: block;
    font-size: .875rem;
    margin-bottom: 2px;
}

.chat_user_box .direct-chat-name {
    font-weight: 600;
    font-family: 'Roboto Condensed', s;
    color: #212121;
}

.chat_user_box .direct-chat-timestamp {
    color: #697582;
    font-family: 'Roboto Condensed', s;
    font-weight: 400;
    font-size: 12px;
}

.chat_user_box .direct-chat-msg::after {
    display: block;
    clear: both;
    content: "";
}

.chat_user_box .direct-chat-text {
    border-radius: 4px;
    background: linear-gradient(to right, #ee097930, #ff6a001c);
    color: #444;
    margin: 5px 0 0 50px;
    padding: 10px 11px;
    position: relative;
}

.chat_user_box .direct-chat-text p {
    margin: 0;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: inline-block;
}

.chat_user_box .direct-chat-text::before {
    border-width: 6px;
    margin-top: -6px;
}

.chat_user_box .direct-chat-text::after,
.chat_user_box .direct-chat-text::before {
    border: solid transparent;
    border-right-color: #dae6ff;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}

.chat_user_box .direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}

.chat_user_box .direct-chat-img {
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}

.chat_user_box .right .direct-chat-img {
    float: right;
}

.chat_user_box .right .direct-chat-img {
    float: right;
}

.chat_user_box .direct-chat-warning .right>.direct-chat-text {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #1f2d3d;
}

.chat_user_box .right .direct-chat-text {
    margin-right: 50px;
    text-align: right;
    display: table;
    margin-left: auto;
}



.chat_user_box .right .direct-chat-text::after,
.chat_user_box .right .direct-chat-text::before {
    border-left-color: #f4d3d3;
    border-right-color: transparent;
    left: 100%;
    right: auto;
}

.find_player_info {
    background: #151519;
    padding: 30px;
    border-radius: 4px;
}

.find_player_info .modal_heading h1 {
    font-size: 21px;
    color: var(--bg-white);
}

.find_player_info .profile_img img {
    width: 100px;
    border-radius: 100px;
    background: #565686;
    padding: 4px;
    margin-bottom: 12px;
}

.profile_info h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    margin-bottom: 8px;
}

.find_player_info .profile_info span {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #494949;
}

.find_player_info .player_status h4 {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 12px;
    line-height: 23px;
}

.find_player_info .player_status h4 i {
    color: orange;
}

.find_player_info .league_wrap {
    border: 1px solid #292929;
}

.find_player_info .player_bio_info table tr td {
    color: #fff;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: block;
    border: none !important;
    padding: 2px 0px;
}

.find_player_info .player_bio_info table tr {
    margin-bottom: 11px !important;
    display: block;
}

.find_player_info .player_bio_info table tr td strong {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
}

.find_player_info .player_bio_info table tr {
    margin-bottom: 11px !important;
    display: block;
}

.find_player_info .player_bio_info table tr td strong {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
}

.chat_user_box .card {
    border: none !important;
    background: #fafafa !important;
}

.chat_user_box .card-header {
    border: none !important;
    background: #eeeeee;
    padding: 10px 14px;
}

.chat_user_box .card-header h3 {
    font-size: 21px;
    font-family: 'Rubik', sans-serif;
    color: var(--bg-black);
    font-weight: 400;
}

.chat_user_box .card-body {
    padding: 30px 12px;
}

.chat_user_box .card-footer {
    background: #f3f3f3;
    border: none !important;
}

.chat_user_box .direct-chat-msg {
    margin-bottom: 16px;
}

.chat_user_box .btn-primary {
    padding: 11px 23px;
    font-size: 14px;
    height: 49px;
}

.timer_preload img {
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
}

.user_profile_wrap {
    background: #fafafa;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.user_profile_wrap .form-check-input[type=checkbox] {
    display: none;
}

.user_profile_wrap .form-check-input:checked+label {
    background: var(--bg-button);
    color: #fff !important;
}

.user_profile_wrap .form-check {
    padding: 0;
}

.user_profile_wrap .form-check label {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: block;
    width: 100%;
    z-index: -1;
    background: #ddd;
    padding: 4px 13px;
    border-radius: 3px;
}

.match_completed_user .user_profile_wrap img {
    border-radius: 50px;
    width: 60px;
    vertical-align: middle;
}

.match_completed_user .user_info h3 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #555;
    text-align: left;
}

.match_completed_user .user_info h3 span {
    float: right;
    position: absolute;
    top: 9px;
    right: 8px;
}

.match_completed_user .user_info h3 span img {
    width: 16px;
    position: absolute;
    top: -1px;
    left: -20px;
}

.match_completed_user .add_tip .title h3 {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    color: #212121;
    font-weight: 400;
}

.tip_checkbox label {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    font-size: 19px;
    font-weight: 400;
    border-radius: 50px;
    line-height: 36px;
    color: #333 !important;
    margin: 0px 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    color: #fff;
}

.tip_checkbox input[type="radio"]:checked+label{
    background: var(--bg-primary) !important;
    color: var(--bg-white) !important;
}
.tip_checkbox input[type="radio"]:checked+label::before {
    content: "" !important;
}
.match_completed_user .rate input[type="radio"] {
    display: none;
}

.match_completed_user .rate {
    padding: 0 10px;
    overflow: hidden;
    width: 205px;
    margin: 0 auto;
}

.match_completed_user .rate:not(:checked)>label {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    text-align: left;
    margin: 0px 5px;
}

.match_completed_user .rate:not(:checked)>label:before {
    content: '★ ';
}

.match_completed_user .rate>input:checked~label {
    color: #ffc700;
}

.match_completed_user .rate:not(:checked)>label:hover,
.match_completed_user .rate:not(:checked)>label:hover~label {
    color: #ffc700;
}

.match_completed_user .rate>input:checked+label:hover,
.match_completed_user .rate>input:checked+label:hover~label,
.match_completed_user .rate>input:checked~label:hover,
.match_completed_user .rate>input:checked~label:hover~label,
.match_completed_user .rate>label:hover~input:checked~label {
    color: #ffc700;
}


.match_completed_user .star_icon .form-check-label:before {
    position: absolute;
    content: url(../images/icon/star-3.svg);
    top: 20px;
    right: 5px;
    width: 26px;
    height: 26px;
    font-size: 21px;
    text-align: center;
}

.match_completed_user .star_icon input[type="radio"]:checked+label::before {
    content: url(../images/icon/star-2.svg);
}


.match_completed_user .star_icon input[type="radio"] {
    display: none;
}


.match_completed_user .star_icon .form-check-label {
    position: relative;
    cursor: pointer;
    padding: 0px 9px;
}













.add_tip ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    font-size: 22px;
    font-weight: 400;
    border-radius: 50px;
    line-height: 47px;
    color: #333;
    margin: 0px 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}


.add_tip .form-check {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    font-family: 'Rubik', s;
    font-weight: 400;
    color: #212121;
}

.match_completed_user .input-group-text {
    border-radius: 50px !important;
    background: var(--bg-white) !important;
    border: none !important;
    margin: 0px 5px;
    width: 36px;
    height: 36px;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 37px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 5px;
}

.match_completed_user .quantity .form-control {
    background: transparent !important;
    height: 44px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    color: #000;
    border-radius: 50px !important;
    margin: 0px 8px;
}

.match_completed_user .quantity h3 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--bs-black);
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.match_completed_user .quantity {
    padding: 7px 10px;
    border-radius: 5px;
    background: #dcdcdc;
}

.dashboard_card {
    background: #d9e1ff;
    padding: 16px 12px;
    border-radius: 4px;
    box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
    overflow: hidden;
    position: relative;
}


.dashboard_wrapper .card {
    background: #ffffff;
    border: 1px solid #EEE;
}

.dashboard_wrapper .card-header {
    border: none !important;
    padding: 9px 17px;
    background: #fafafa;
}

.dashboard_wrapper .card-header h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.dashboard_wrapper .card-body {
    padding: 0;
}

.dashboard_card .card_body span {
    font-size: 14px;
    font-family: 'Rubik', s;
    font-weight: 400;
}

.dashboard_card .card_body h3 {
    color: var(--bg-black);
    font-weight: 600;
    font-size: 24px;
}

.dashboard_wrapper table tr td {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.dashboard_wrapper table th {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.pro_player_carousel .swiper {
    width: 240px;
    height: 339px;
    margin: auto;
}

.pro_player_carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: var(--bg-button);
}

.proplayer_profile .profile_start img {
    width: 15px;
}

.proplayer_profile .profile_photo img {
    width: 100px;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.proplayer_profile .profile_photo {
    margin-bottom: 20px;
}

.proplayer_profile .profile_info h3 {
    font-size: 18px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
}

.proplayer_profile .address p {
    margin: 0;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
}

.proplayer_profile .address p i {
    font-size: 12px;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}



.ElementsApp,
.ElementsApp .InputElement {
    font-size: 16px !important;
    height: 23px;
    font-family: 'Rubik', sans-serif !important;
}

.ElementsApp,
.ElementsApp .InputElement {
    font-family: 'Rubik', sans-serif;
    font-size: 15px !important;
    height: 24px;
}

.ElementsApp,
.ElementsApp .InputElement {
    font-size: 15px !important;
    height: 21px;
    font-family: 'Rubik', sans-serif !important;
}

div#card-number-element {
    line-height: 112px !important;
    font-family: 'Rubik' !important;
    padding-top: 16px;
}








































































































































/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
    display: none !important;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
    visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.opacity-40 {
    opacity: .4;
}

.game_info_wrap .game_list .content h4 {
    font-size: 13px;
}

.loading-spinner {
    display: none;
}

.loading-spinner.active {
    display: inline-block;
}
