@media screen and (max-width:1200px) {

    .content h4 span {
        font-size: 11px;
    }
    .game_info_wrap .content p {
        font-size: 12px;
     }

}
@media screen and (max-width:991px) {

    .banner_content {
        padding: 20px 0px;
    }

    .banner_content h1 {
        font-size: 49px;
    }

    .header_menu .nav-link {
        font-size: 14px;
        color: #212121 !important;
        padding: 9px 0px !important;
        border-bottom: 1px solid #EEE;
    }

    .header_right_btn .btn {
        display: block;
        width: 100%;
        margin: 4px 0px;
        padding: 13px 10px !important;
    }

    .header_menu .loginBtn {
        background: var(--bg-black);
        color: #ffffff !important;
    }

    .how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1):after,
    .how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n+1):before {
        right: auto;
        left: 0;
    }

    .how_to_work_sec .timeline.timeline-one .timeline-item:after {
        left: 0;
        right: auto;
    }

    .how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n + 1):after,
    .how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n + 1):before {
        right: auto;
        left: 0;
    }

    .how_to_work_sec .timeline.timeline-one .timeline-item:nth-child(2n + 1) {
        padding-right: 0;
        padding-left: 1.5rem;
        text-align: left;
        width: 100%;
    }

    .how_to_work_sec .timeline.timeline-one .timeline-item {
        width: 100%;
        margin: 0;
    }

    .loggedin_user {
        position: absolute;
        top: -3px;
        right: 70px;
    }
}

@media screen and (max-width:767px) {
    .banner_content h1 {
        font-size: 42px;
        line-height: 53px;
    }

}

@media screen and (min-width:576px) {
    .game_info_wrap .quantity .input-group {
        max-width: 208px;
        float: right;
    }


}

@media screen and (max-width:575px) {
    .banner_content h1 {
        font-size: 35px;
        line-height: 48px;
    }

    .modal_body {
        padding: 30px 10px;
    }

    .section_heading h2 {
        font-size: 25px;
    }

    .step_tebs_wrap .timeline-item h3 {
        font-size: 22px;
    }
}



@media screen and (max-width:450px) {
    .banner_content h1 {
        font-size: 27px;
        line-height: 38px;
    }

    .banner_content .btn-primary {
        font-size: 15px;
    }

    .section_heading h2 {
        font-size: 20px;
    }

    .foter_menu ul li {
        padding: 5px 10px;
    }

    .modal_heading h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:350px) {
    .banner_content h1 {
        font-size: 25px;
    }

    .step_tebs_wrap .timeline-item h3 {
        font-size: 18px;
    }

    .step_tebs_wrap .timeline-item h5 {
        font-size: 15px;
    }

}
