
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fafafa;
}

/* color */
:root {
    --bg-primary: #eb4d4b;
    --bg-primary-hover:#ff7979;
    --bg-black: #27272A;
    --bg-white: #ffffff;
    --bg-green: #00B67A;
    --bg-orange: #ebbd31;
    --bg-pink: #d946ef;
    /* social color */
    --bg-facebook: #166FE5;
    --bg-twitter: #166FE5;
}

/* =============================  Header  ================================= */
.header_section {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header_section:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 76%);
}

.header_menu {
    padding: 12px 0px;

}

.header_menu.fixed-top {
    background: #fff !important;
    border-bottom: 1px solid #e2e2e2;
}

.header_menu.fixed-top .nav-link {
    color: #000 !important;
}

.header_menu.fixed-top .loginBtn {
    background: var(--bg-black);
    color: #ffffff !important;
}


.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 0.5s ease-out;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}




/* menu */

.header_menu .nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik';
    padding: 0px 18px !important;
}

.btn-primary {
    color: var(--bg-white);
    background: #eb4d4b;
    padding: 8px 36px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 17px;
    border: none !important;
    outline: none !important;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.btn-primary:hover {
    background: var(--bg-button-hover);
}


.header_right_btn .btn {
    background: var(--bg-white);
    padding: 8px 24px !important;
    display: inline-block;
    color: #212121 !important;
    font-weight: 800 !important;
    font-family: 'Roboto Condensed' !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none !important;
    border: none !important;
}

.header_right_btn .btn:hover {
    background: var(--bg-button-hover);
    color: var(--bg-white) !important;
}

.header_right_btn .singupBtn {
    background: var(--bg-button);
    color: var(--bg-white) !important;
}

.header_right_btn .singupBtn:hover {
    background: var(--bg-button-hover);
}

.header_menu .navbar-toggler {
    background: #fff;
    border-radius: 2px;
    font-size: 18px;
    outline: none !important;
    box-shadow: none !important;
}

.header_menu .offcanvas {
    width: 300px !important;
    border: none !important;
}

.header_menu .btn-close {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #e6e6e6;
    color: #212121;
    opacity: 1;
    font-size: 11px;
}

.loggedin_user .dropdown-toggle {
    border: none !important;
    background: #212121;
    border-radius: 50px;
    padding: 0px 12px 0px 0px;
}


.dropdown-toggle::after {
    display: none;
}

.loggedin_user.dropdown:hover .dropdown-menu {
    display: block;
}

.loggedin_user {
    position: absolute;
    top: -3px;
    right: 0;
}

.loggedin_user .dropdown-menu {
    border-radius: 1px;
    border: none !important;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    padding: 0;
}

.loggedin_user .dropdown-item {
    padding: 10px 17px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--bg-black);
}

.loggedin_user .dropdown-item:hover {
    background: var(--bg-button);
    color: var(--bg-white);
}

.loggedin_user .dropdown-item img {
    width: 25px;
    margin-right: 3px;
    border: 1px solid #f5efef;
    border-radius: 50px;
    padding: 3px;
}

.loggedin_user .dropdown-item:hover img {
    background: var(--bg-white);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand img {
    width: 150px;
}


.signup_form .bottom p {
    margin: 0;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #777;
}

.social_login a {
    width: 45px;
    background: var(--bg-black);
    height: 45px;
    display: inline-block;
    font-size: 19px;
    color: #ffffff;
    line-height: 45px !important;
    border: 1px solid #EEE;
    border-radius: 7px;
    margin: 0px 8px;
}


.foter_menu ul li {
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #BBB;
}

.foter_menu ul li a {
    color: var(--bg-black);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li:last-child {
    border: none;
}

.foter_menu ul li a:hover {
    color: var(--bg-primary);
}

.footer_social_icon ul li {
    display: inline-block;
}

.footer_social_icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #EFF2FC;
    text-align: center;
    line-height: 50px;
    color: var(--bg-black);
    font-size: 19px;
    border-radius: 2px;
    margin: 8px 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer_social_icon ul li a:hover {
    background: var(--bg-primary);
    color: var(--bg-white);
}

.footer_social_icon ul li a i {
    line-height: 50px !important;
}

.copyright p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li {
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #BBB;
}

.foter_menu ul li a {
    color: var(--bg-black);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.foter_menu ul li:last-child {
    border: none;
}

.foter_menu ul li a:hover {
    color: var(--bg-primary);
}

.page_content p {
    font-size: 16px;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

.footer_logo img {
    width: 150px;
}


#chat_body {
    height: 520px;
    background-color: white;
    overflow: auto;
    padding: 10px 14px !important;
    display: flex;
    flex-direction: column-reverse;
}

.chat_user_box .card-title strong {
    background: #22a6b3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* width */
.chat_user_box .card-body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.chat_user_box .card-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px ddd;
    border-radius: 10px;
}

/* Handle */
.chat_user_box .card-body::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

/* Handle on hover */
.chat_user_box .card-body::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

.chat_user_box .direct-chat-infos {
    display: block;
    font-size: .875rem;
    margin-bottom: 2px;
}

.chat_user_box .direct-chat-name {
    font-weight: 600;
    font-family: 'Roboto Condensed', s;
    color: #212121;
}

.chat_user_box .direct-chat-timestamp {
    color: #697582;
    font-family: 'Roboto Condensed', s;
    font-weight: 400;
    font-size: 12px;
}

.chat_user_box .direct-chat-msg::after {
    display: block;
    clear: both;
    content: "";
}

.chat_user_box .direct-chat-text {
    border-radius: 4px;
    background: linear-gradient(to right,#f6e58d, #ffbe76);
    color: #444;
    margin: 5px 0 0 50px;
    padding: 10px 11px;
    position: relative;
}

.chat_user_box .direct-chat-text p {
    margin: 0;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: inline-block;
}

.chat_user_box .direct-chat-text::before {
    border-width: 6px;
    margin-top: -6px;
}

.chat_user_box .direct-chat-text::after,
.chat_user_box .direct-chat-text::before {
    border: solid transparent;
    border-right-color: #dae6ff;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}

.chat_user_box .direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}

.chat_user_box .direct-chat-img {
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}

.chat_user_box .right .direct-chat-img {
    float: right;
}

.chat_user_box .right .direct-chat-img {
    float: right;
}

.chat_user_box .direct-chat-warning .right>.direct-chat-text {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #1f2d3d;
}

.chat_user_box .right .direct-chat-text {
    margin-right: 50px;
    text-align: right;
    /* display: table; */
    margin-left: auto;
}

.chat_user_box .right .direct-chat-text::after,
.chat_user_box .right .direct-chat-text::before {
    border-left-color: #f4d3d3;
    border-right-color: transparent;
    left: 100%;
    right: auto;
}

.chat_user_box .card {
    border: none !important;
    background: #fafafa !important;
}

.chat_user_box .card-header {
    border: none !important;
    background: #eeeeee;
    padding: 10px 14px;
}

.chat_user_box .card-header h3 {
    font-size: 21px;
    font-family: 'Rubik', sans-serif;
    color: var(--bg-black);
    font-weight: 400;
}

.chat_user_box .card-body {
    padding: 30px 12px;
}

.chat_user_box .card-footer {
    background: #f3f3f3;
    border: none !important;
}

.chat_user_box .direct-chat-msg {
    margin-bottom: 16px;
}

.chat_user_box .btn-primary {
    padding: 11px 23px;
    font-size: 14px;
    height: 49px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}


.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}
